/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px; 
    height: auto; 
}


.navbar {
    display: flex;
    align-items: center;
  }
  
  .nav__menu {
    cursor: pointer;
    display: none;
  }
  
  .nav_img {
    display: block;
    width: 30px;
  }
  
  .nav__close {
    display: none;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff ;
    font-weight: bold;
  }
  
  .navbar {
    z-index: 1000;
  }

.cta-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Banner */
#banner {
    background-color: #f0f0f0;
    padding: 0px;
    text-align: center;
}


/* Secciones */
section {
    padding: 50px;
}

h2 {
    margin-bottom: 30px;
}

/* Pie de página */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer nav ul {
    list-style-type: none; 
    padding: 0;
}

footer nav ul li {
    display: inline-block; 
    margin: 0 10px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

.redes-sociales img {
    width: 30px;
    margin: 0 5px;
}


/*/ Carrusel /*/
.banner-carousel {
    background-color: #f0f0f0; 
    padding: 0; 
    
}

.slick-carousel {
    margin: 0; 
    padding: 0; 
}

.slick-slide img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

/*/ Servicios /*/

.servicios-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.servicio-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 300px; 
}

.servicio-item img {
    max-width: 100%;
    height: auto;
}

.servicio-item h3 {
    margin-top: 10px;
    font-size: 20px;
}

.servicio-item p {
    margin-top: 10px;
}

.servicio-item .cta-button {
    margin-top: 20px;
}

/*/ Portafolio /*/
.portafolio-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.portafolio-title {
    width: 100%; 
}

.proyecto-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 300px; 
}

.proyecto-item img {
    max-width: 100%;
    height: auto;
}

.proyecto-item h3 {
    margin-top: 10px;
    font-size: 20px;
}

.proyecto-item p {
    margin-top: 10px;
}

.ver-mas-button {
    display: inline-block;
    background-color: #007bff; 
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ver-mas-button:hover {
    background-color: #0056b3; 
}

/*/ Testimonios /*/

.testimonios-carousel {
    text-align: center;
    padding: 50px 0;
}

.testimonio-item {
    text-align: center; 
    width: 100%; 
}

.testimonio-item img {
    border-radius: 50%;
    max-width: 300px; 
    height: auto;
    float: none; 
    display: inline-block; 
}

.slick-initialized .testimonio-item {
    display: block;
}


.testimonio-item h3 {
    margin-top: 10px;
    font-size: 18px;
}

.testimonio-item p {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

/*/ Contacto /*/

#contacto {
    text-align: center;
    padding: 50px 0;
    background-color: #444F5A;
}

#contacto-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.c{
    color: #ffffff;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

input[type="file"] {
    width: auto;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

.contacto-seccion {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.contacto-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacto-imagen {
    flex: 1;
   
    margin-top: 100px;
    
}

.contacto-imagen img {
    max-width: 200%;
    display: block;
    border-radius: 10px;
}

.contacto-formulario {
    flex: 1;
}



/*/ Boton Inicio */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 9px 15px;
    border: none;
    border-radius: 0%;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }


/*/ Responsive General/*/
@media screen and (max-width: 992px) {

  .nav__menu {
      display: block;
  }

  .navbar ul {
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 60px; 
    right: 0;
    width: 100%;
    background-color: #000;
    padding: 10px;
}

.navbar li {
    margin: 3px; 
}

  .navbar ul.open {
      display: flex;
  }

  .nav__menu.active .nav_img {
      display: none;
  }

  .nav__menu.active .nav__close {
      display: block;
  }


.cta-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#contacto-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.contacto-seccion {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

    .contacto-contenedor {
        flex-direction: row; 
        justify-content: space-between; 
    }

    .contacto-imagen {
        flex: 1; 
        margin-top: 0; 
    }

    .contacto-formulario {
        flex: 1; 
    }   

.contacto-imagen img {
    max-width: 200%;
    display: block;
    border-radius: 10px;
}

#banner {
    background-color: #f0f0f0;
    padding: 0px;
    text-align: center;
}





}